<div class="clients">
  <div class="client-row">
    <app-flip-tag *ngFor="let cs of topRow.reverse()"
      [isPlaceholder]="cs.type === 'placeholder'"
      [text]="cs.name"
      [link]="cs.clientUrl"
      [tagImage]="cs.tagImage">
    </app-flip-tag>
  </div>
  <div class="client-row bottom-row">
    <app-flip-tag *ngFor="let cs of bottomRow.reverse()"
      [isPlaceholder]="cs.type === 'placeholder'"
      [text]="cs.name"
      [link]="cs.clientUrl"
      [tagImage]="cs.tagImage">
    </app-flip-tag>
  </div>
</div>