@text-light-blue: #285780;

.clients {
    color: rgba(255, 255, 255, 0.3);
    .client-placeholder, .placeholder {
        display: inline-block;
        height: 80px;
        width: 80px;
        text-align: center;
        vertical-align: middle;
        margin-left: 25px;
    }
    .client-tag, .flip-tag {
        padding: 7px;
        display: inline-block;
        margin-left: 10px;
        .tag {
            display: inline-block;
            width: 66px;
            height: 66px;
        }
    }
    .bottom-row {
        margin-left: 55px;
    }
}

.client-icon {
    fill: @text-light-blue;
    float: left;
    margin: 15px 15px;
    height: 33px;
    width: 33px;
}