<div class="projects-container glass">
  <i class="circle circle-top-left"></i>
  <i class="circle circle-top-right"></i>
  <i class="circle circle-bottom-left"></i>
  <i class="circle circle-bottom-right"></i>

  <div class="section-label">
    Total Impact
  </div>
  <div class="section-details">
    Projects <span class="total">{{totalProjects | number}}</span> People <span class="total">{{totalPeople | number}}</span> Value <span class="total">${{totalValue | number}}</span>
  </div>
  <div class="project-list">
    <a class="project-item" *ngFor="let p of pagedProjects" [routerLink]="['/app/projects', p.id]">
      <span class="completion project-detail">{{p.completionDate | date:'MMMM y'}}</span>
      <span class="description project-detail">
        <div>{{p.clientName}} - {{p.projectName}}</div>
        <div>{{p.peopleImpacted | number }} <span class="label">people benefited,</span> ${{p.valueCreated | number}} <span class="label">value created</span></div>
      </span>
      <span class="solution project-detail">{{p.solutionName}}</span>
      <div class="more nav-arrow">
        <div class="nav-icon" [inlineSVG]="'/assets/chevron-right.svg'"></div>
      </div>
      <div class="clear"></div>
    </a>
  </div>
  <div class="paging-buttons">
    <a class="nav-arrow" (click)="prevPageClicked()" [ngClass]="{'disabled': prevPageDisabled}">
      <div class="nav-icon" [inlineSVG]="'/assets/chevron-left.svg'"></div>
    </a>
    <a class="nav-arrow" (click)="nextPageClicked()" [ngClass]="{'disabled': nextPageDisabled}">
      <div class="nav-icon" [inlineSVG]="'/assets/chevron-right.svg'"></div>
    </a>
    <div class="clear"></div>
  </div>
  <div class="nav-buttons">
    <button class="nav-button" (click)="backClicked()">Back</button>
    <!-- <button class="nav-button primary">Add Project</button> -->
  </div>
</div>
<div class="clear"></div>
