<div class="project-container glass" *ngIf="project">
    <i class="circle circle-top-left"></i>
    <i class="circle circle-top-right"></i>
    <i class="circle circle-bottom-left"></i>
    <i class="circle circle-bottom-right"></i>

  <div class="section-header">
    {{project.projectName}}
    <div class="sub-header">{{project.clientName}}</div>
  </div>
  
  <div class="section left">
    <div class="solution">{{project.solutionName}}</div>
    <div class="about">
      <span>About The Project</span>
      <p>{{project.description}}</p>
    </div>
    <div class="completion">Completed on {{project.completionDate | date:'longDate'}}</div>
    <div class="poc">
      <div class="name">{{project.pointOfContact}}</div>
      <span>Point Of Contact</span>
    </div>
  </div>

  <div class="section right">
    <div class="metric">
      <div class="value">
        {{project.externalPeopleImpacted.value | number}}
      </div>
      <div class="title">
        External People Impacted
      </div>
      <div class="description">
        {{project.externalPeopleImpacted.description}}
      </div>
    </div>
    <div class="metric">
      <div class="value">
        {{project.internalPeopleImpacted.value | number}}
      </div>
      <div class="title">
        Internal People Impacted
      </div>
      <div class="description">
        {{project.internalPeopleImpacted.description}}
      </div>
    </div>
    <div class="metric">
      <div class="value">
        ${{project.costReduction.value | number}}
      </div>
      <div class="title">
        Cost Reduction
      </div>
      <div class="description">
        {{project.costReduction.description}}
      </div>
    </div>
    <div class="metric">
      <div class="value">
        ${{project.incrementalRevenue.value | number}}
      </div>
      <div class="title">
        Incremental Revenue
      </div>
      <div class="description">
        {{project.incrementalRevenue.description}}
      </div>
    </div>
  </div>

  <div class="nav-buttons">
    <button class="nav-button" (click)="backClicked()">Back</button>
  </div>
</div>
<div class="clear"></div>