<div class="project-container glass" *ngIf="project">
    <i class="circle circle-top-left"></i>
    <i class="circle circle-top-right"></i>
    <i class="circle circle-bottom-left"></i>
    <i class="circle circle-bottom-right"></i>

  <div class="section-header">
    {{project.projectName}}
    <div class="sub-header">{{project.clientName}}</div>
  </div>
  
  <div class="section left">
    <div class="solution">{{project.solutionName}}</div>
    <div class="completion">Completed on {{project.completionDate | date:'longDate'}}</div>
    <div class="poc">
      <div class="name">{{project.pointOfContact}}</div>
      <span>Point Of Contact</span>
    </div>
  </div>

  <div class="section right">
    <div class="about">
      <span>About The Project</span>
      <p>{{project.description}}</p>
    </div>
  </div>

  <div class="clear"></div>

  <div class="metrics">
    <div class="metric" *ngFor="let m of metrics" [ngClass]="{'selected': m.selected}" (click)="selectMetric(m)">
      <div class="value">{{m.value | number}}</div>
      <div class="title">{{m.title}}</div>
    </div>
    <div class="clear"></div>
    <div class="description">
      {{metricDescription}}
    </div>
  </div>

  <div class="nav-buttons">
    <button class="nav-button" (click)="backClicked()">Back</button>
  </div>
</div>
<div class="clear"></div>