<div class="project-container glass" *ngIf="project">
    <i class="circle circle-top-left"></i>
    <i class="circle circle-top-right"></i>
    <i class="circle circle-bottom-left"></i>
    <i class="circle circle-bottom-right"></i>

  <div class="section-header">
    {{project.projectName}}
    <div class="sub-header">{{project.clientName}}</div>
  </div>
  
  <div class="section left">
    <div class="solution">{{project.solutionName}}</div>
    <div class="poc">
      <div class="name">{{project.pointOfContact}}</div>
      <span>Point Of Contact</span>
    </div>
    <div class="completion">Completed on {{project.completionDate | date:'longDate'}}</div>
  </div>

  <div class="section left">
    <div class="about">
      <span>About The Project</span>
      <p>{{project.description}}</p>
    </div>
  </div>

  <div class="clear"></div>

  <div class="metrics">

    <div class="left">
      <div class="metric-header">
          <div class="metric-icon" [inlineSVG]="'/assets/users.svg'"></div>
        <span class="label">{{totalPeople | number}} People Benefited</span>
      </div>
      <div class="clear"></div>
      <div class="metric" *ngFor="let m of peopleMetrics" [ngClass]="{'selected': m.selected, 'full': peopleMetrics.length === 1}" (click)="selectMetric(m)">
        <div class="value">{{m.value | number}}</div>
        <div class="title">{{m.title}}</div>
      </div>
    </div>
    <div class="value-metrics left">
        <div class="metric-header">
          <div class="metric-icon" [inlineSVG]="'/assets/value.svg'"></div>
        <span class="label">${{totalValue | number}} in Value Created</span>
      </div>
      <div class="clear"></div>
      <div class="metric" *ngFor="let m of valueMetrics" [ngClass]="{'selected': m.selected, 'full': valueMetrics.length === 1}" (click)="selectMetric(m)">
        <div class="value">${{m.value | number}}</div>
        <div class="title">{{m.title}}</div>
      </div>
    </div>
    
    <div class="clear"></div>
    <div class="description">
      {{metricDescription}}
    </div>
  </div>

  <div class="nav-buttons">
    <button class="nav-button" (click)="backClicked()">Back</button>
  </div>
</div>
<div class="clear"></div>