@label-color: #fff;
@text-orange: #BE5400;
@text-light-blue: #285780;
@text-dark-blue: #4E4E4E;

.clear {
    clear: both;
}

.glass {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.wall {
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    padding: 3em;
    width: 1440px;
    margin: 0 auto;
    font-size: 18px;

    .board {
        width: 1156px;
        margin: 1em auto;
        padding: 2em;
    }
}

.statements {
    width: 800px;
    margin: 0 auto;
    font-size: 2.2em;
    .first {
        color: @text-orange;
    }
    .second {
        color: @text-light-blue;
    }
    .third {
        color: @text-dark-blue;
    }
    .top {
        text-align: left;
    }
    .middle {
        text-align: center;
    }
    .bottom {
        text-align: right;
    }
}

.wall-label {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: @label-color;
}

.counter {
    width: 800px;
    margin: 0 auto;
    text-align: right;
    font-size: 4em;
    color: @label-color;
}
