<div class="wall">
  <div class="board glass">
      <div class="wall-label">New Customers</div>
      <div class="counter">{{customersImpacted.total}}</div>
      <div class="wall-label">People Impacted</div>
      <div class="counter">{{valueCreated.total}}</div>
      <div class="wall-label">Value Created</div>    
  </div>
  <div class="clear"></div>
  <div class="board glass">
    <div class="statements">
      <div class="top first">We can prove that enriched</div>
      <div class="middle first">human experiences produce stronger</div>
      <div class="bottom">
        <span class="first">business results. </span>
        <span class="second">We are experts in our</span>
      </div>
      <div class="top second">solutions, expanding our ripple of</div>
      <div class="middle">
        <span class="second">influence. </span>
        <span class="third">We thrive on growing while</span>
      </div>
      <div class="bottom third">staying true to our values.</div>
    </div>
  </div>
</div>
<div class="clear"></div>
