@import "../../variables";

.placeholder {
    display: inline-block;
    height: @tag-size;
    width: @tag-size;
    text-align: center;
    vertical-align: middle;
    margin-left: 1.8em;
}
.flip-tag {
    padding: 0.3em;
    display: inline-block;
    margin-left: 0.8em;
    a {
        display: inline-block;
        width: @tag-size;
        height: @tag-size;
        border-radius: @tag-radius;
        &:hover {
            background-color: #fff;
            background-image: url();
            color: #000;
            .client-image {
                display: none;
            }
            .client-detail {
               display: block;
            }
        }
        img {
            height: @tag-size;
            width: @tag-size;
        }
        .client-detail {
            float: left;
            display: none;
            font-size: 0.6em;
            text-align: center;
            margin: 0.5em 0;
            width: @tag-size;
            color: @text-light-blue;
            border-radius: @tag-radius;
            font-family: "Museo Sans 500";
            .client-name {
                width: 50px;
                height: 15px;
                overflow: hidden;
                display: block;
                text-align: center;
                margin: 1em auto;
                padding: 0.3em 0;
                text-transform: uppercase;
                font-size: 0.7em;
            }
            svg {
                width: 16px;
                height: 16px;
                fill: @text-light-blue;
            }
        }
    }
}