@import "../../variables";

.board {
    height: 600px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 1em rgba(0,0,0,.2);
    padding: 3em 0;
}

.wall-label {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    color: @label-color;
    padding-bottom: 1.5em;
    padding-top: 0.75em;
    letter-spacing: 0.06em;
}

.nav-arrow {
    height: @tag-size;
    width: @tag-size;
    border-radius: @tag-radius;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 120px;
    top: 445px;
    svg {
        margin: 20px;
        margin-left: 22px;
        height: 32px;
        fill: @label-color;
    }
    &:hover {
        background-color: #fff;
        svg {
            fill: @text-light-blue;
        }
    }
}