@import "../../variables";

.vision-statement {
    padding: 2em;
    width: @max-width;
    margin: 0 auto;
    font-size: @base-font-size;
    position: absolute;
    top: 650px;
    left: 0;
    &.glass:before {
        background-position-y: -650px;
    }
}
