@import "../../variables";

.vision-statement {
    padding: 2em;
    width: @max-width;
    margin: 0 auto;
    font-size: @base-font-size;
    position: absolute;
    top: 700px;
    left: 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    &.glass:before {
        background-position-y: -650px;
    }
}
