/* You can add global styles to this file, and also import other style files */
@import "font.less";

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    //font-family: "Chronicle SSm A";
}

.tag {
    background-image: url(/assets/tag.png);
    border-radius: 33px;
    box-shadow: 0 0 0.2em #575E61;
}

.clear {
    clear: both;
}