/* You can add global styles to this file, and also import other style files */
@import "font.css";
@import "variables";

body {
    margin: 0px;
    padding: 0px;
    background-image: url(/assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Chronicle SSm A", "Chronicle SSm B", serif;
}

.clear {
    clear: both;
}

.wall-container {
    width: @max-width;
    margin: 0 auto;
    font-size: @base-font-size;
    position: relative;
    top: @top-offset;
}

.tag {
    background-image: url(/assets/tag.png);
    border-radius: @tag-radius;
    box-shadow: 0 0 0.2em #575E61;
}

.glass {
    z-index: 1;
    overflow: hidden;
}
