/* You can add global styles to this file, and also import other style files */
@import "font.css";
@import "variables";

body {
    margin: 0px;
    padding: 0px;
    background: rgba(112,138,164,1);
    background: -moz-linear-gradient(top, rgba(112,138,164,1) 0%, rgba(112,138,164,1) 19%, rgba(239,173,93,1) 89%, rgba(239,173,93,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(112,138,164,1)), color-stop(19%, rgba(112,138,164,1)), color-stop(89%, rgba(239,173,93,1)), color-stop(100%, rgba(239,173,93,1)));
    background: -webkit-linear-gradient(top, rgba(112,138,164,1) 0%, rgba(112,138,164,1) 19%, rgba(239,173,93,1) 89%, rgba(239,173,93,1) 100%);
    background: -o-linear-gradient(top, rgba(112,138,164,1) 0%, rgba(112,138,164,1) 19%, rgba(239,173,93,1) 89%, rgba(239,173,93,1) 100%);
    background: -ms-linear-gradient(top, rgba(112,138,164,1) 0%, rgba(112,138,164,1) 19%, rgba(239,173,93,1) 89%, rgba(239,173,93,1) 100%);
    background: linear-gradient(to bottom, rgba(112,138,164,1) 0%, rgba(112,138,164,1) 19%, rgba(239,173,93,1) 89%, rgba(239,173,93,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#708aa4', endColorstr='#efad5d', GradientType=0 );

    font-family: "Chronicle SSm A", "Chronicle SSm B", serif;
}

.clear {
    clear: both;
}

.tag {
    background-image: url(/assets/tag.png);
    border-radius: @tag-radius;
    box-shadow: 0 0 0.2em #575E61;
}
